<nav class="level container" id="resultTextArea" style="opacity: 0;">
    <div class="level-left">
        <div class="level-item has-text-aligned-left">
            <h1 class="has-text-weight-bold results_text" id="resultText">waiting...😐</h1>
        </div>
    </div>
</nav>
<div class="columns" id="resultTextBoxes"  style="opacity: 0;">
    <div class="column" id="rowzero">

    </div>
    <div class="column" id="rowone">

    </div>
    <div class="column" id="rowtwo">

    </div>
    <div class="column" id="rowthree">

    </div>
</div>
