<section class="hero is-fullheight">
  <div class="hero-header">
    <prototype-navbar></prototype-navbar>
  </div>
  <div class="hero-body results">
      <nav class="level container">
          <div class="level-left">
              <div class="level-item has-text-aligned-left">
                  <h1 class="has-text-grey-dark has-text-weight-bold results_text" id="resultText">waiting...😐</h1>
              </div>
          </div>
      </nav>
      <div class="columns is-8 is-variable results_boxes">
          <div class="column" id="rowzero">

          </div>
          <div class="column" id="rowone">

          </div>
          <div class="column" id="rowtwo">

          </div>
          <div class="column" id="rowthree">

          </div>
      </div>
</div>
  </section>
</section>
<prototype-footer></prototype-footer>
