.demo-wrapper {
  overflow: hidden;
  transition: height 1s ease, opacity 2s ease;
  -webkit-transition: height 1s ease, opacity 2s ease; }

#resultTextArea {
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease; }

#resultTextBoxes {
  transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease; }

#resultText {
  color: var(--color-font); }

.footer-note {
  color: var(--color-font); }

.footer-note strong {
  color: var(--color-font); }

.footer-note a {
  color: var(--color-font); }

.footer-note a:hover {
  color: var(--color-font); }

.navbar {
  transition: opacity 1s ease; }

.navbar a {
  color: var(--color-font); }

.navbar a:hover {
  color: var(--color-font); }

.long {
  transition: opacity 2s ease; }

.medium {
  transition: opacity 3s ease; }

.short {
  transition: opacity 4s ease; }

.demo_one {
  animation: float 7s ease-in infinite, disapear 7s ease-in-out infinite; }

.demo_two {
  animation: float 6s ease-in infinite, disapear 6s ease-in-out infinite; }

.demo_three {
  animation: float 8s ease-in infinite, disapear 8s ease-in-out infinite; }

.demo_four {
  animation: float 10s ease-in infinite, disapear 10s ease-in-out infinite; }

@keyframes move-up {
  100% {
    transform: translatey(-200%); } }

#level-logo {
  transition: opacity 1s ease; }

#navbar-search {
  transition: opacity 1s ease; }

#imagesHome {
  border: none;
  box-shadow: 0 0 30px 0 rgba(43, 86, 112, 0.1);
  background-color: var(--color-search);
  width: 75vw;
  max-width: 50rem;
  font-size: 30px;
  z-index: 1;
  color: var(--color-font);
  transition: opacity 1s ease; }

#images {
  border: none;
  box-shadow: 0 0 30px 0 rgba(43, 86, 112, 0.1);
  background-color: var(--color-search);
  width: 75vw;
  max-width: 50rem;
  font-size: 30px;
  z-index: 1;
  color: var(--color-font); }

#level-navbrand {
  transform: scale(0.65);
  margin-left: -5vw;
  transition: opacity 1s ease; }

#searchform {
  transform: scale(0.7); }

#imagesHome::placeholder {
  color: var(--color-font); }

#homesearchbody {
  transition: height 2s;
  transition-timing-function: ease-in-out; }

@keyframes float {
  0% {
    transform: translatey(400px); }
  100% {
    transform: translatey(-200px); } }

@keyframes float-faster {
  0% {
    transform: translatey(400px); }
  100% {
    transform: translatey(-1000px); } }

@keyframes disapear {
  0% {
    opacity: 0%; }
  50% {
    opacity: 50%; }
  100% {
    opacity: 0%; } }
